[Desktop Entry]
Name=Qfacture
Comment=Qfacture
Exec=/usr/local/bin/qfacture
Icon=qfacture
Terminal=false
Type=Application
Categories=Desktop;Office;
StartupNotify=true
NoDisplay=false
